body {
    margin: 0px;
    text-align: center;
    font-family: 'Crete Round', serif;
}

.das {
    text-decoration: underline;
}

h1 {
    color: #de8795;
    margin: 0;
}

p {
    color:#ced3d1;
    padding: 10px;
    margin-bottom: 0px;
    font-family: 'Sacramento', cursive;
}

.top-container {
    background-color: #2c3b4b;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    background-color: #ced3d1;
    height: 200px;
    width: 200px;
}

.bottom-container {
    background-color: #de8795;
    height: 200px;
    width: 200px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bento {
    height: 25%;
    width: 25%;
}